<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h1>Welcome to Role Based auth</h1>
    </div>
    <div>
        <p>Login to see your Dashboard</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
</div>

<div class="row" ng-if="main.loggedIn">






</div>