<div class="container" ng-controller="userCreateCtrl as user">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1>Signup</h1>
                <form method="post" ng-submit="user.signupUser()">
                   <div class="form-group">
                    <label for="sel1">Select role </label>
                    <select class="form-control" id="sel1" ng-model="user.userData.role">
                        <option>HR</option>
                        <option>Manager</option>
                        <option>Tech Lead</option>
                    </select>
                    </div>
                Name: <input type="text" class="form-control" name="name" ng-model="user.userData.name">
                Username: <input type="text" class="form-control" name="username" ng-model="user.userData.username">
                Password: <input type="password" class="form-control" name="password" ng-model="user.userData.password">

                <button type="submit" class="btn btn-danger">Signup</button>
                </form>
            </div>
    </div>
</div>